In [ ]:
!pip install kaggle

In [ ]:
#!chmod 600 /Users/hoyeehong/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

Dataset URL: https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset
License(s): unknown
Downloading movielens-20m-dataset.zip to /Users/hoyeehong/Desktop/gensg/Project-wip/hello-world/staging
100%|████████████████████████████████████████| 195M/195M [00:10<00:00, 23.0MB/s]
100%|████████████████████████████████████████| 195M/195M [00:10<00:00, 19.5MB/s]

In [119]:
import os
from zipfile import ZipFile
# Search for zipped folder(s) in the directory
zipfile_list = [f for f in os.listdir() if f.endswith('.zip')]

# Loop through the list of zipped folder(s) and extract movie and rating csv
for z in zipfile_list:
    with ZipFile(z, 'r') as file:
        file_list = file.namelist()
        for file_name in file_list:
            if file_name == 'movie.csv' or file_name == 'rating.csv':
                print(f"Extracting {file_name}...")
                file.extract(file_name)
                print(f"Done extracting {file_name}")

Extracting movie.csv...
Done extracting movie.csv
Extracting rating.csv...
Done extracting rating.csv

In [ ]:
!pip install sqlalchemy
!pip install sqlalchemy_utils
!pip install psycopg2

In [415]:
import sqlalchemy as db 
from sqlalchemy_utils import create_database
engine = db.create_engine('postgresql://postgres:admin@localhost:5432/moviedb-test6')

# create database (Can comment this out if database exists)
create_database(engine.url)

conn = engine.raw_connection()

commands = (# TABLE 1: MOVIE
            '''-- Movies Table
                CREATE TABLE IF NOT EXISTS Movies(movieid INT PRIMARY KEY,
                                                  title VARCHAR(255) NOT NULL,
                                                  year INT CHECK (year >= 1888));
                 
                -- MovieGenres Table
                CREATE TABLE IF NOT EXISTS MovieGenres(movieid INT PRIMARY KEY,
                                                       genre VARCHAR(255),
                                                       FOREIGN KEY (movieid) REFERENCES Movies(movieid) ON DELETE CASCADE);
                 
                -- Ratings Table
                CREATE TABLE IF NOT EXISTS Ratings (userid INT,
                                                    movieid INT,
                                                    rating DECIMAL(3, 1) CHECK (rating >= 0 AND rating <= 5),
                                                    timestamp TIMESTAMP,
                                                    PRIMARY KEY (userId, movieid, timestamp),
                                                    FOREIGN KEY (movieid) REFERENCES Movies(movieid) ON DELETE CASCADE);''')
            
# Initialize connection to PostgreSQL
cur = conn.cursor()

# Create cursor to execute SQL commands

# for command in commands:
cur.execute(commands)

# Commit changes
conn.commit()

# Close communication with server
cur.close()
conn.close()

# release resources associated with engine
engine.dispose()
print('Database created successfully')

Database created successfully

In [121]:
# Check for existing files ending with '.csv' in the directory
import os
import pandas as pd
csv_file_list = [f for f in os.listdir() if f.endswith('.csv')]
print('CSV file lists: ' + str(csv_file_list))

CSV file lists: ['rating.csv', 'movie.csv']

In [67]:
df1 = pd.read_csv('rating.csv')
df2 = pd.read_csv('movie.csv')

# Check for Missing Values
missing_values1 = df1.isnull().sum()
missing_values2 = df2.isnull().sum()

print(missing_values1)
print(missing_values2)

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
movieId    0
title      0
genres     0
dtype: int64

In [405]:
df = pd.read_csv('movie.csv')
movie_df = df

# Extract the year from the 'title' column
movie_df['year'] = movie_df['title'].str.extract(r'\((\d{4})\)', expand=False)

# Remove the year from the 'title' column
movie_df['title'] = movie_df['title'].str.replace(r'\(\d{4}\)', '', regex=True).str.strip()

# Lowercase all the columns
movie_df.columns = [col.lower() for col in movie_df.columns]

# Convert year column to integer type before inserting into DB
#movie_df['year'] = movie_df['year'].fillna(0).astype(int)

# Extract specific columns
movie_df = movie_df[['movieid', 'title', 'year']]

#movie_df.set_index('movieId')
#movie_df

movie_df.to_sql(name='movies', con = engine, if_exists= 'append', index= False)
print('Table created')

Table created

In [407]:
df_genres = df

# Lowercase all the columns
df_genres.columns = [col.lower() for col in df_genres.columns]

# Split by the delimiter '|'
df_genres = df['genres'].str.split('|', expand=True).stack().reset_index(level=1, drop=True)
df_genres.name = 'genre'
#df_genres

# Join the genre back into dataframe
df_movie_genres = df[['movieid']].join(df_genres).reset_index(drop=True)
df_movie_genres.set_index('movieid')
#df_movie_genres

df_movie_genres.to_sql(name='moviegenres', con = engine, if_exists= 'replace', index= False)
# filtered_df = df_movie_genres[df_movie_genres['genre'] == '(no genres listed)']
# print(filtered_df)
print('Table created')

Table created

In [411]:
# Read from PostgreSQL into Pandas
query = "SELECT * FROM movies"
df = pd.read_sql(query, engine)
df['year'] = df['year'].fillna(0).astype(int)
df

       movieid                        title  year
0            1                    Toy Story  1995
1            2                      Jumanji  1995
2            3             Grumpier Old Men  1995
3            4            Waiting to Exhale  1995
4            5  Father of the Bride Part II  1995
...        ...                          ...   ...
27273   131254        Kein Bund für's Leben  2007
27274   131256       Feuer, Eis & Dosenbier  2002
27275   131258                  The Pirates  2014
27276   131260                 Rentun Ruusu  2001
27277   131262                    Innocence  2014

[27278 rows x 3 columns]

In [413]:
# Read from PostgreSQL into Pandas
query2 = "SELECT * FROM moviegenres"
pd.read_sql(query2, engine)

       movieid               genre
0            1           Adventure
1            1           Animation
2            1            Children
3            1              Comedy
4            1             Fantasy
...        ...                 ...
54401   131258           Adventure
54402   131260  (no genres listed)
54403   131262           Adventure
54404   131262             Fantasy
54405   131262              Horror

[54406 rows x 2 columns]

In [54]:
from datetime import datetime
from load_db import load_to_db
from concurrent.futures import ProcessPoolExecutor
from glob import glob

# Gather all the csv files
def gather_file_names() -> iter:
    file_names_list = glob("*.csv")
    print(file_names_list)
    return file_names_list

# Spread out the processing to 5 worker threads to load huge volume of data to PostgreSQL
def main():
    t1 = datetime.now()
    print("starting to insert records...")
    with ProcessPoolExecutor(max_workers=5) as PoolParty:
        PoolParty.map(load_to_db, gather_file_names())
    t2 = datetime.now()
    x = t2 - t1
    print(f"finished inserting records... it took {x}")

if __name__ == "__main__":
    main()

starting to insert records...
['movie.csv']
(27278, 3): movie df loaded to db
finished inserting records... it took 0:00:02.280974