In [ ]:
!pip install kaggle

In [ ]:
#!chmod 600 /Users/hoyeehong/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

In [ ]:
import os
from zipfile import ZipFile
# Search for zipped folder(s) in the directory
zipfile_list = [f for f in os.listdir() if f.endswith('.zip')]

# Loop through the list of zipped folder(s) and extract each folder
for z in zipfile_list:
    with ZipFile(z, 'r') as file:
        file.extractall()
        print('Extracted: ' + str(file))

In [ ]:
!pip install sqlalchemy
!pip install sqlalchemy_utils
!pip install psycopg2

In [3]:
import sqlalchemy as db 
from sqlalchemy_utils import create_database
engine = db.create_engine('postgresql://postgres:admin@localhost:5432/moviedb-test')

# create database
create_database(engine.url)

# release resources associated with engine
#engine.dispose()
conn = engine.raw_connection()

In [5]:
# Check for existing files ending with '.csv' in the directory
import os
import pandas as pd
csv_file_list = [f for f in os.listdir() if f.endswith('.csv')]
print('CSV file lists: ' + str(csv_file_list))

CSV file lists: ['rating.csv', 'tag.csv', 'genome_scores.csv', 'genome_tags.csv', 'link.csv', 'movie.csv']

In [13]:
from datetime import datetime
from load_db import load_to_db
from concurrent.futures import ProcessPoolExecutor
from glob import glob

# Gather all the csv files
def gather_file_names() -> iter:
    file_names_list = glob("*.csv")
    print(file_names_list)
    return file_names_list

# Spread out the processing to 5 worker threads to load huge volume of data to PostgreSQL
def main():
    t1 = datetime.now()
    print("starting to insert records...")
    with ProcessPoolExecutor(max_workers=5) as PoolParty:
        PoolParty.map(load_to_db, gather_file_names())
    t2 = datetime.now()
    x = t2 - t1
    print(f"finished inserting records... it took {x}")

if __name__ == "__main__":
    main()

starting to insert records...
['rating.csv', 'tag.csv', 'genome_scores.csv', 'genome_tags.csv', 'link.csv', 'movie.csv']
(1128, 2)
(27278, 3)
(27278, 3)
(20000263, 4)
(465564, 4)
(11709768, 3)
finished inserting records... it took 0:19:45.164549

In [15]:
# Read from PostgreSQL into Pandas
query = "SELECT * FROM movie"
pd.read_sql(query, engine)

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,27273,131254,Kein Bund für's Leben (2007),Comedy
27274,27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,27275,131258,The Pirates (2014),Adventure
27276,27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [17]:
# Read from PostgreSQL into Pandas
query2 = "SELECT COUNT(*) FROM rating"
pd.read_sql(query2, engine)

      count
0  20000263