In [ ]:
# https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset/
# Uncomment the pip install code below if you haven't installed these libraries yet
# !pip install pandas
# !pip install zipfile
# !pip install zipfile2 <-- if unable to find zipfile library (maybe deprecated) , use zipfile2
# !pip install kaggle

In [ ]:
import pandas as pd
import zipfile2
import zipfile
import kaggle

In [ ]:
#chmod 600 '/Users/User/.kaggle/kaggle.json'

In [ ]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

In [ ]:
# extracting the file from the downloaded zip file
zipfile_name = 'movielens-20m-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

## Run the cell from below downwards, if above already initiated

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("movie.csv")
df_df = pd.DataFrame(df)
print(df_df)

       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
27273   131254        Kein Bund für's Leben (2007)
27274   131256       Feuer, Eis & Dosenbier (2002)
27275   131258                  The Pirates (2014)
27276   131260                 Rentun Ruusu (2001)
27277   131262                    Innocence (2014)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
27273                                       Comedy
27274                                       Comedy
27275                                    Adventure
27276                           (no genres listed)
27277                     Adventure|Fantasy|Horror

[27278 rows x 3 columns]

In [5]:
# read in the csv file as a pandas dataframe
# checking each tables datatype to make sure of dtype integrity before and after joining
movie = pd.read_csv("movie.csv")
print(movie.info())
print(movie.head())
print(movie.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB
None
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
(27278, 3)

In [6]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movie.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [8]:
rating = pd.read_csv("rating.csv")
print(rating.head())
print(rating.shape)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40
(20000263, 4)

In [9]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [10]:
rating.dtypes

userId         int64
movieId        int64
rating       float64
timestamp     object
dtype: object

In [11]:
# checking rating unique movieId, can have many users rating the same movie
# the table may come with many userID that might rate movieId that doesn't exist in table above (assumption)
# the movieId is correct for all tables to be joined, come from reliable source provider (assumption)
num_dist_movie_in_rating_table = rating['movieId'].nunique()
num_dist_movie_in_rating_table

26744

In [12]:
tag = pd.read_csv("tag.csv")
print(tag.head())
print(tag.shape)

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18
(465564, 4)

In [13]:
tag.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [14]:
tag.dtypes

userId        int64
movieId       int64
tag          object
timestamp    object
dtype: object

In [15]:
link = pd.read_csv("link.csv")
print(link.head())
print(link.shape)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
(27278, 3)

In [16]:
link.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [17]:
link.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [18]:
genome_tags = pd.read_csv("genome_tags.csv")
print(genome_tags.head())
print(genome_tags.shape)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
(1128, 2)

In [19]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [20]:
genome_tags.dtypes

tagId     int64
tag      object
dtype: object

In [21]:
genome_scores = pd.read_csv("genome_scores.csv")
print(genome_scores)
print(genome_scores.shape)

          movieId  tagId  relevance
0               1      1    0.02500
1               1      2    0.02500
2               1      3    0.05775
3               1      4    0.09675
4               1      5    0.14675
...           ...    ...        ...
11709763   131170   1124    0.58775
11709764   131170   1125    0.01075
11709765   131170   1126    0.01575
11709766   131170   1127    0.11450
11709767   131170   1128    0.02175

[11709768 rows x 3 columns]
(11709768, 3)

In [22]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [23]:
genome_scores.dtypes

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [24]:
# WRONG JOIN . REFER BELOW FOR THE CORRECT JOIN
movie_and_rating_left_join = pd.merge(movie, rating, on='movieId', how='left')
# pd.set_option('display.max_rows', None)
movie_and_rating_left_join

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41
...,...,...,...,...,...,...
20000792,131254,Kein Bund für's Leben (2007),Comedy,79570.0,4.0,2015-03-30 19:32:59
20000793,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570.0,4.0,2015-03-30 19:48:08
20000794,131258,The Pirates (2014),Adventure,28906.0,2.5,2015-03-30 19:56:32
20000795,131260,Rentun Ruusu (2001),(no genres listed),65409.0,3.0,2015-03-30 19:57:46
20000796,131262,Innocence (2014),Adventure|Fantasy|Horror,133047.0,4.0,2015-03-30 20:39:26

In [25]:
movie_and_rating_left_join.dtypes

movieId        int64
title         object
genres        object
userId       float64
rating       float64
timestamp     object
dtype: object

In [26]:
movie_and_rating_right_join = pd.merge(movie, rating, on='movieId', how='right')
movie_and_rating_right_join

,movieId,title,genres,userId,rating,timestamp
0,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
1,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1,3.5,2005-04-02 23:31:16
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,3.5,2005-04-02 23:32:07
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
...,...,...,...,...,...,...
20000258,68954,Up (2009),Adventure|Animation|Children|Drama,138493,4.5,2009-11-13 15:42:00
20000259,69526,Transformers: Revenge of the Fallen (2009),Action|Adventure|Sci-Fi|IMAX,138493,4.5,2009-12-03 18:31:48
20000260,69644,Ice Age: Dawn of the Dinosaurs (2009),Action|Adventure|Animation|Children|Comedy|Rom...,138493,3.0,2009-12-07 18:10:57
20000261,70286,District 9 (2009),Mystery|Sci-Fi|Thriller,138493,5.0,2009-11-13 15:42:24
20000262,71619,Coco Before Chanel (Coco avant Chanel) (2009),Drama,138493,2.5,2009-10-17 20:25:36

In [27]:
movie_and_rating_right_join.dtypes

movieId        int64
title         object
genres        object
userId         int64
rating       float64
timestamp     object
dtype: object

In [28]:
# checking for missing values 
has_missing_values = movie_and_rating_right_join['userId'].isnull().sum()
has_missing_values

0

In [29]:
# Exploration
# check how many distinct users in userId
num_distinct_users = movie_and_rating_right_join['userId'].nunique()
print(f'Number of distinct users: {num_distinct_users}')

Number of distinct users: 138493

In [30]:
# # selecting first 10,000 unique 'userId' values to reduce downtime for computation
# # step 1: extract unique userId values and sort them
# unique_user_ids = sorted(movie_and_rating_right_join['userId'].dropna().unique())

# # step 2: select first 10,000 users
# selected_users = unique_user_ids[:100000]

# # step 3: convert to dataframe for easy viewing?
# sample_10000_df = movie_and_rating_right_join[selected_users]
# sample_10000_df

In [31]:
# Step 1: Extract unique userId values and sort them
unique_user_ids = movie_and_rating_right_join['userId'].dropna().unique()

# Step 2: Select the first 10,000 users
# selected_users = unique_user_ids[:10000] #out of memory 150k+ rows
# selected_users = unique_user_ids[:500]   #out of memory (71554, 6)
selected_users = unique_user_ids[:100]     #(11101, 6)

# Step 3: Filter the DataFrame to include only rows with the selected userIds
sample_10000_df = movie_and_rating_right_join[movie_and_rating_right_join['userId'].isin(selected_users)]

# View the resulting DataFrame
# sample_10000_df.head(1000)
sample_10000_df

,movieId,title,genres,userId,rating,timestamp
0,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
1,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1,3.5,2005-04-02 23:31:16
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,3.5,2005-04-02 23:32:07
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
...,...,...,...,...,...,...
11096,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,100,3.0,1996-07-11 16:20:12
11097,1112,Palookaville (1996),Action|Comedy|Drama,100,4.0,1996-11-13 14:12:25
11098,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,100,4.0,1997-06-09 16:43:14
11099,1449,Waiting for Guffman (1996),Comedy,100,5.0,1997-06-09 16:38:17
11100,1527,"Fifth Element, The (1997)",Action|Adventure|Comedy|Sci-Fi,100,4.0,1997-06-09 16:40:04

In [32]:
# checking for userId 1, how many movies they have seen? 
userId_1_only = movie_and_rating_right_join[movie_and_rating_right_join['userId'] == 1]
pd.set_option('display.max_rows', None)
userId_1_only

,movieId,title,genres,userId,rating,timestamp
0,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
1,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1,3.5,2005-04-02 23:31:16
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,3.5,2005-04-02 23:32:07
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
5,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime,1,3.5,2004-09-10 03:09:00
6,151,Rob Roy (1995),Action|Drama|Romance|War,1,4.0,2004-09-10 03:08:54
7,223,Clerks (1994),Comedy,1,4.0,2005-04-02 23:46:13
8,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror,1,4.0,2005-04-02 23:35:40
9,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1,4.0,2005-04-02 23:33:46
10,293,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller,1,4.0,2005-04-02 23:31:43
11,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1,4.0,2005-04-02 23:32:47
12,318,"Shawshank Redemption, The (1994)",Crime|Drama,1,4.0,2005-04-02 23:33:18
13,337,What's Eating Gilbert Grape (1993),Drama,1,3.5,2004-09-10 03:08:29
14,367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,1,3.5,2005-04-02 23:53:00
15,541,Blade Runner (1982),Action|Sci-Fi|Thriller,1,4.0,2005-04-02 23:30:03
16,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,1,3.5,2005-04-02 23:45:57
17,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1,3.5,2005-04-02 23:31:01
18,653,Dragonheart (1996),Action|Adventure|Fantasy,1,3.0,2004-09-10 03:08:11
19,919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,1,3.5,2004-09-10 03:07:01
20,924,2001: A Space Odyssey (1968),Adventure|Drama|Sci-Fi,1,3.5,2004-09-10 03:06:38
21,1009,Escape to Witch Mountain (1975),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:33
22,1036,Die Hard (1988),Action|Crime|Thriller,1,4.0,2005-04-02 23:44:40
23,1079,"Fish Called Wanda, A (1988)",Comedy|Crime,1,4.0,2004-09-10 03:07:45
24,1080,Monty Python's Life of Brian (1979),Comedy,1,3.5,2005-04-02 23:42:55
25,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller,1,3.5,2005-04-02 23:31:09
26,1090,Platoon (1986),Drama|War,1,4.0,2005-04-02 23:44:13
27,1097,E.T. the Extra-Terrestrial (1982),Children|Drama|Sci-Fi,1,4.0,2005-04-02 23:48:21
28,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,1,3.5,2005-04-02 23:30:09
29,1193,One Flew Over the Cuckoo's Nest (1975),Drama,1,3.5,2005-04-02 23:31:30
30,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1,4.5,2005-04-02 23:32:22
31,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1,4.5,2005-04-02 23:30:24
32,1200,Aliens (1986),Action|Adventure|Horror|Sci-Fi,1,4.0,2005-04-02 23:29:20
33,1201,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,1,3.0,2005-04-02 23:30:42
34,1208,Apocalypse Now (1979),Action|Drama|War,1,3.5,2005-04-02 23:33:35
35,1214,Alien (1979),Horror|Sci-Fi,1,4.0,2004-09-10 03:12:57
36,1215,Army of Darkness (1993),Action|Adventure|Comedy|Fantasy|Horror,1,4.0,2004-09-10 03:14:42
37,1217,Ran (1985),Drama|War,1,3.5,2005-04-02 23:33:30
38,1219,Psycho (1960),Crime|Horror,1,4.0,2004-09-10 03:13:14
39,1222,Full Metal Jacket (1987),Drama|War,1,3.5,2005-04-02 23:30:37
40,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,1,4.0,2005-04-02 23:43:21
41,1243,Rosencrantz and Guildenstern Are Dead (1990),Comedy|Drama,1,3.0,2005-04-02 23:46:07
42,1246,Dead Poets Society (1989),Drama,1,3.5,2004-09-10 03:09:19
43,1249,"Femme Nikita, La (Nikita) (1990)",Action|Crime|Romance|Thriller,1,4.0,2005-04-02 23:43:02
44,1258,"Shining, The (1980)",Horror,1,4.0,2004-09-10 03:13:14
45,1259,Stand by Me (1986),Adventure|Drama,1,4.0,2005-04-02 23:44:00
46,1261,Evil Dead II (Dead by Dawn) (1987),Action|Comedy|Fantasy|Horror,1,3.5,2004-09-10 03:15:13
47,1262,"Great Escape, The (1963)",Action|Adventure|Drama|War,1,3.5,2005-04-02 23:32:15
48,1266,Unforgiven (1992),Drama|Western,1,4.0,2005-04-02 23:42:51
49,1278,Young Frankenstein (1974),Comedy|Fantasy,1,4.0,2004-09-10 03:13:06
50,1291,Indiana Jones and the Last Crusade (1989),Action|Adventure,1,3.5,2005-04-02 23:45:25
51,1304,Butch Cassidy and the Sundance Kid (1969),Action|Western,1,3.0,2004-09-10 03:08:40
52,1321,"American Werewolf in London, An (1981)",Comedy|Horror|Thriller,1,4.0,2004-09-10 03:14:22
53,1333,"Birds, The (1963)",Horror|Thriller,1,4.0,2005-04-02 23:36:30
54,1348,"Nosferatu (Nosferatu, eine Symphonie des Graue...",Horror,1,3.5,2004-09-10 03:14:16
55,1350,"Omen, The (1976)",Horror|Mystery|Thriller,1,3.5,2004-09-10 03:15:58
56,1358,Sling Blade (1996),Drama,1,4.0,2005-04-02 23:43:39
57,1370,Die Hard 2 (1990),Action|Adventure|Thriller,1,3.0,2004-09-10 03:09:24
58,1374,Star Trek II: The Wrath of Khan (1982),Action|Adventure|Sci-Fi|Thriller,1,4.0,2004-09-10 03:09:06
59,1387,Jaws (1975),Action|Horror,1,4.0,2005-04-02 23:35:13
60,1525,Warriors of Virtue (1997),Action|Adventure|Children|Fantasy,1,3.0,2005-04-02 23:55:50
61,1584,Contact (1997),Drama|Sci-Fi,1,3.5,2004-09-10 03:07:36
62,1750,Star Kid (1997),Adventure|Children|Fantasy|Sci-Fi,1,3.5,2005-04-02 23:56:41
63,1848,"Borrowers, The (1997)",Adventure|Children|Comedy|Fantasy,1,3.5,2005-04-02 23:53:52
64,1920,Small Soldiers (1998),Animation|Children|Fantasy|War,1,3.5,2005-04-02 23:54:58
65,1967,Labyrinth (1986),Adventure|Fantasy|Musical,1,4.0,2005-04-02 23:48:59
66,1994,Poltergeist (1982),Horror|Thriller,1,3.5,2004-09-10 03:14:47
67,1997,"Exorcist, The (1973)",Horror|Mystery,1,3.5,2004-09-10 03:13:54
68,2021,Dune (1984),Adventure|Sci-Fi,1,4.0,2005-04-02 23:52:09
69,2100,Splash (1984),Comedy|Fantasy|Romance,1,4.0,2005-04-02 23:52:35
70,2118,"Dead Zone, The (1983)",Thriller,1,4.0,2004-09-10 03:14:52
71,2138,Watership Down (1978),Adventure|Animation|Children|Drama|Fantasy,1,4.0,2005-04-02 23:49:49
72,2140,"Dark Crystal, The (1982)",Adventure|Fantasy,1,4.0,2005-04-02 23:48:25
73,2143,Legend (1985),Adventure|Fantasy|Romance,1,4.0,2005-04-02 23:52:31
74,2173,"Navigator: A Mediaeval Odyssey, The (1988)",Adventure|Fantasy|Sci-Fi,1,4.0,2005-04-02 23:51:27
75,2174,Beetlejuice (1988),Comedy|Fantasy,1,4.0,2005-04-02 23:50:43
76,2193,Willow (1988),Action|Adventure|Fantasy,1,4.0,2005-04-02 23:49:13
77,2194,"Untouchables, The (1987)",Action|Crime|Drama,1,3.5,2005-04-02 23:44:46
78,2253,Toys (1992),Comedy|Fantasy,1,3.5,2005-04-02 23:55:22
79,2288,"Thing, The (1982)",Action|Horror|Sci-Fi|Thriller,1,4.0,2004-09-10 03:14:37
80,2291,Edward Scissorhands (1990),Drama|Fantasy|Romance,1,4.0,2004-09-10 03:09:37
81,2542,"Lock, Stock & Two Smoking Barrels (1998)",Comedy|Crime|Thriller,1,4.0,2005-04-02 23:44:07
82,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,1,4.0,2005-04-02 23:53:08
83,2644,Dracula (1931),Horror,1,3.5,2005-04-02 23:36:34
84,2648,Frankenstein (1931),Drama|Horror|Sci-Fi,1,3.5,2004-09-10 03:13:37
85,2664,Invasion of the Body Snatchers (1956),Horror|Sci-Fi|Thriller,1,3.5,2004-09-10 03:15:48
86,2683,Austin Powers: The Spy Who Shagged Me (1999),Action|Adventure|Comedy,1,3.5,2004-09-10 03:07:30
87,2692,Run Lola Run (Lola rennt) (1998),Action|Crime,1,3.5,2005-04-02 23:32:29
88,2716,Ghostbusters (a.k.a. Ghost Busters) (1984),Action|Comedy|Sci-Fi,1,3.5,2004-09-10 03:13:32
89,2761,"Iron Giant, The (1999)",Adventure|Animation|Children|Drama|Sci-Fi,1,3.0,2005-04-02 23:32:39
90,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,1,4.0,2005-04-02 23:42:47
91,2804,"Christmas Story, A (1983)",Children|Comedy,1,3.5,2005-04-02 23:43:34
92,2872,Excalibur (1981),Adventure|Fantasy,1,4.0,2005-04-02 23:48:17
93,2918,Ferris Bueller's Day Off (1986),Comedy,1,3.5,2005-04-02 23:44:25
94,2944,"Dirty Dozen, The (1967)",Action|Drama|War,1,4.0,2005-04-02 23:43:53
95,2947,Goldfinger (1964),Action|Adventure|Thriller,1,3.5,2005-04-02 23:46:20
96,2959,Fight Club (1999),Action|Crime|Drama|Thriller,1,4.0,2004-09-10 03:08:18
97,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,1,4.0,2005-04-02 23:50:25
98,3000,Princess Mononoke (Mononoke-hime) (1997),Action|Adventure|Animation|Drama|Fantasy,1,3.5,2005-04-02 23:29:29
99,3030,Yojimbo (1961),Action|Adventure,1,3.0,2005-04-02 23:29:08
100,3037,Little Big Man (1970),Western,1,3.5,2005-04-02 23:46:03
101,3081,Sleepy Hollow (1999),Fantasy|Horror|Mystery|Romance,1,4.0,2004-09-10 03:15:43
102,3153,"7th Voyage of Sinbad, The (1958)",Action|Adventure|Fantasy,1,4.0,2005-04-02 23:50:16
103,3265,Hard-Boiled (Lat sau san taam) (1992),Action|Crime|Drama|Thriller,1,3.5,2005-04-02 23:28:45
104,3438,Teenage Mutant Ninja Turtles (1990),Action|Children|Comedy|Fantasy|Sci-Fi,1,3.5,2005-04-02 23:54:54
105,3476,Jacob's Ladder (1990),Horror|Mystery,1,3.5,2004-09-10 03:15:39
106,3479,Ladyhawke (1985),Adventure|Fantasy|Romance,1,4.0,2005-04-02 23:48:54
107,3489,Hook (1991),Adventure|Comedy|Fantasy,1,4.0,2005-04-02 23:53:44
108,3499,Misery (1990),Drama|Horror|Thriller,1,4.0,2005-04-02 23:35:18
109,3889,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,1,4.0,2005-04-02 23:55:38
110,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,1,3.0,2004-09-10 03:16:12
111,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,1,4.0,2004-09-10 03:08:47
112,3997,Dungeons & Dragons (2000),Adventure|Fantasy,1,3.5,2005-04-02 23:56:32
113,4011,Snatch (2000),Comedy|Crime|Thriller,1,4.0,2005-04-02 23:43:26
114,4027,"O Brother, Where Art Thou? (2000)",Adventure|Comedy|Crime,1,4.0,2005-04-02 23:44:20
115,4105,"Evil Dead, The (1981)",Fantasy|Horror|Thriller,1,3.5,2004-09-10 03:15:04
116,4128,"Lost Boys, The (1987)",Comedy|Horror|Thriller,1,4.0,2005-04-02 23:35:33
117,4133,Masters of the Universe (1987),Action|Adventure|Fantasy|Sci-Fi,1,3.0,2005-04-02 23:56:09
118,4226,Memento (2000),Mystery|Thriller,1,3.5,2005-04-02 23:28:13
119,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,1,4.0,2004-09-10 03:09:44
120,4446,Final Fantasy: The Spirits Within (2001),Adventure|Animation|Fantasy|Sci-Fi,1,3.5,2005-04-02 23:52:50
121,4467,"Adventures of Baron Munchausen, The (1988)",Adventure|Comedy|Fantasy,1,4.0,2005-04-02 23:50:22
122,4571,Bill & Ted's Excellent Adventure (1989),Adventure|Comedy|Sci-Fi,1,4.0,2005-04-02 23:51:20
123,4720,"Others, The (2001)",Drama|Horror|Mystery|Thriller,1,3.5,2004-09-10 03:13:28
124,4754,"Wicker Man, The (1973)",Drama|Horror|Mystery|Thriller,1,4.0,2005-04-02 23:36:23
125,4878,Donnie Darko (2001),Drama|Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:28:57
126,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,1,4.0,2005-04-02 23:48:51
127,4911,Jabberwocky (1977),Adventure|Comedy|Fantasy,1,4.0,2005-04-02 23:52:41
128,4915,"Beastmaster, The (1982)",Action|Adventure|Fantasy,1,3.0,2005-04-02 23:54:36
129,4941,Flash Gordon (1980),Action|Adventure|Sci-Fi,1,3.5,2005-04-02 23:53:27
130,4980,Bill & Ted's Bogus Journey (1991),Adventure|Comedy|Fantasy|Sci-Fi,1,3.5,2005-04-02 23:54:15
131,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,1,5.0,2005-04-02 23:31:22
132,5026,"Brotherhood of the Wolf (Pacte des loups, Le) ...",Action|Mystery|Thriller,1,4.0,2005-04-02 23:50:58
133,5039,Dragonslayer (1981),Action|Adventure|Fantasy,1,4.0,2005-04-02 23:51:38
134,5040,Conan the Destroyer (1984),Action|Adventure|Fantasy,1,3.0,2005-04-02 23:54:46
135,5146,Vampire Hunter D: Bloodlust (Banpaia hantâ D) ...,Animation|Fantasy|Horror|Sci-Fi,1,3.5,2004-09-10 03:15:32
136,5171,"Time Machine, The (2002)",Action|Adventure|Sci-Fi,1,4.0,2005-04-02 23:55:04
137,5540,Clash of the Titans (1981),Action|Adventure|Fantasy|Romance,1,4.0,2005-04-02 23:51:45
138,5679,"Ring, The (2002)",Horror|Mystery|Thriller,1,3.5,2004-09-10 03:15:08
139,5797,"Company of Wolves, The (1984)",Fantasy|Horror,1,4.0,2005-04-02 23:51:11
140,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,1,4.0,2005-04-02 23:48:40
141,5898,"Sword and the Sorcerer, The (1982)",Action|Adventure|Fantasy,1,3.5,2005-04-02 23:53:22
142,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,1,5.0,2005-04-02 23:30:19
143,5999,Heavy Metal 2000 (2000),Action|Adventure|Animation|Fantasy|Sci-Fi,1,3.5,2005-04-02 23:55:50
144,6093,"Last Unicorn, The (1982)",Animation|Children|Fantasy,1,4.0,2005-04-02 23:48:33
145,6242,Ringu (Ring) (1998),Horror|Mystery|Thriller,1,3.5,2004-09-10 03:13:24
146,6333,X2: X-Men United (2003),Action|Adventure|Sci-Fi|Thriller,1,4.0,2005-04-02 23:45:02
147,6502,28 Days Later (2002),Action|Horror|Sci-Fi,1,3.5,2004-09-10 03:14:08
148,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,1,4.0,2005-04-02 23:45:08
149,6754,Underworld (2003),Action|Fantasy|Horror,1,4.0,2005-04-02 23:53:04
150,6755,Bubba Ho-tep (2002),Comedy|Horror,1,3.5,2004-09-10 03:14:27
151,6774,Videodrome (1983),Fantasy|Horror|Sci-Fi|Thriller,1,4.0,2005-04-02 23:49:46
152,6807,Monty Python's The Meaning of Life (1983),Comedy,1,3.5,2005-04-02 23:31:26
153,6834,Wilder Napalm (1993),Comedy|Fantasy|Romance,1,3.5,2005-04-02 23:54:20
154,6888,Scary Movie 3 (2003),Comedy|Horror,1,3.0,2005-04-02 23:55:27
155,7001,Invasion of the Body Snatchers (1978),Horror|Mystery|Sci-Fi|Thriller,1,3.5,2004-09-10 03:15:01
156,7045,"Witches, The (1990)",Children|Fantasy,1,3.5,2005-04-02 23:50:34
157,7046,"Witches of Eastwick, The (1987)",Comedy|Fantasy|Horror|Thriller,1,4.0,2005-04-02 23:52:14
158,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,1,5.0,2005-04-02 23:30:33
159,7164,Peter Pan (2003),Action|Adventure|Children|Fantasy,1,3.5,2005-04-02 23:52:03
160,7247,Chitty Chitty Bang Bang (1968),Adventure|Children|Comedy|Fantasy|Musical,1,3.5,2005-04-02 23:52:38
161,7387,Dawn of the Dead (1978),Action|Drama|Horror,1,3.5,2004-09-10 03:16:01
162,7389,One Million Years B.C. (1966),Adventure|Fantasy,1,4.0,2005-04-02 23:54:05
163,7438,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller,1,4.0,2005-04-02 23:33:09
164,7449,Godsend (2004),Drama|Horror|Thriller,1,3.5,2005-04-02 23:56:03
165,7454,Van Helsing (2004),Action|Adventure|Fantasy|Horror,1,4.0,2005-04-02 23:55:08
166,7482,Enter the Dragon (1973),Action|Crime,1,3.0,2005-04-02 23:29:35
167,7757,Jason and the Argonauts (1963),Action|Adventure|Fantasy,1,4.0,2005-04-02 23:50:19
168,8368,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,1,4.0,2005-04-02 23:48:08
169,8482,"Picture of Dorian Gray, The (1945)",Drama|Fantasy|Horror,1,3.5,2005-04-02 23:49:41
170,8507,Freaks (1932),Crime|Drama|Horror,1,5.0,2004-09-10 03:13:47
171,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,1,4.5,2005-04-02 23:44:53
172,8690,Slaughterhouse-Five (1972),Comedy|Drama|Sci-Fi|War,1,3.5,2005-04-02 23:33:15
173,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,1,4.0,2005-04-02 23:47:09
174,31696,Constantine (2005),Action|Fantasy|Horror|Thriller,1,4.0,2005-04-02 23:49:08

In [33]:
# reset back max_rows display to default value so your display window won't crash for rows > your laptop could handle (out of memory)
pd.reset_option('display.max_rows')

In [34]:
userId_1_only

,movieId,title,genres,userId,rating,timestamp
0,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
1,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1,3.5,2005-04-02 23:31:16
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,3.5,2005-04-02 23:32:07
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
...,...,...,...,...,...,...
170,8507,Freaks (1932),Crime|Drama|Horror,1,5.0,2004-09-10 03:13:47
171,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,1,4.5,2005-04-02 23:44:53
172,8690,Slaughterhouse-Five (1972),Comedy|Drama|Sci-Fi|War,1,3.5,2005-04-02 23:33:15
173,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,1,4.0,2005-04-02 23:47:09
174,31696,Constantine (2005),Action|Fantasy|Horror|Thriller,1,4.0,2005-04-02 23:49:08