In [1]:
#install important libraries
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\vj162\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\vj162\anaconda3\lib\site-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in c:\users\vj162\anaconda3\lib\site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in c:\users\vj162\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\vj162\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.2)
Requirement already satisfied: python-slugify in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: bleach in c:\users\vj162\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\users\vj162\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.2)
Requirement already satisfied: webencodings in c:\users\vj162\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\vj162\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vj162\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vj162\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.7)

In [2]:
import opendatasets as od

In [3]:
dataset = "https://www.kaggle.com/datasets/amansingh0000000/imdb-250-web-show"

In [4]:
od.download(dataset)

Skipping, found downloaded files in ".\imdb-250-web-show" (use force=True to force download)

In [5]:
import os

In [6]:
data_dir = "./imdb-250-web-show"

In [7]:
os.listdir(data_dir)

['web-show 250.csv']

In [15]:
import pandas as pd

In [17]:
movie_df = pd.read_csv('web-show 250.csv')

In [19]:
movie_df

,Unnamed: 0,names,relese_date,run_time,rating_tag,rating
0,0,1 Breaking Bad,2008–2013,62 eps,TV-MA,9.5
1,1,2 Planet Earth II,2016,6 eps,TV-G,9.5
2,2,3 Planet Earth,2006,11 eps,TV-PG,9.4
3,3,4 Band of Brothers,2001,10 eps,TV-MA,9.4
4,4,5 Chernobyl,2019,5 eps,TV-MA,9.3
...,...,...,...,...,...,...
245,245,21 The Vietnam War,2017,10 eps,TV-MA,9.1
246,246,22 Sherlock,2010–2017,15 eps,TV-14,9.1
247,247,23 Attack on Titan,2013–2023,98 eps,TV-MA,9.1
248,248,24 Batman: The Animated Series,1992–1995,85 eps,TV-PG,9.0
249,249,25 The Office,2005–2013,188 eps,TV-14,9.0

In [21]:
!pip install psycopg2
!pip install sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\vj162\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in c:\users\vj162\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vj162\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vj162\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [23]:
import psycopg2

In [25]:
from sqlalchemy import create_engine

print(movie_df.head())


# Database connection details
dbname = 'imdb'
user = 'postgres'
password = 'admin'    #your admin password
host = 'localhost'
port = '5432'

# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

table_name = 'web_show'

# Load DataFrame into PostgreSQL
movie_df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data successfully loaded into table '{table_name}'.")

   Unnamed: 0               names relese_date run_time rating_tag  rating
0           0      1 Breaking Bad   2008–2013   62 eps      TV-MA     9.5
1           1   2 Planet Earth II        2016    6 eps       TV-G     9.5
2           2      3 Planet Earth        2006   11 eps      TV-PG     9.4
3           3  4 Band of Brothers        2001   10 eps      TV-MA     9.4
4           4         5 Chernobyl        2019    5 eps      TV-MA     9.3
Data successfully loaded into table 'web_show'.