# From Web API in JSON Format to Pandas with Python

Credits and References:
- By: Justin Chae | @justinhchae | https://medium.com/@jhc154 | https://www.linkedin.com/in/justin-chae
- https://colab.research.google.com/drive/1yD3aOCI4XFrfpBqNXlxStU5veRPHvaL0?usp=sharing
- https://plainenglish.io/blog/from-api-to-pandas-getting-json-data-with-python-df127f699b6b

- https://medium.com/swlh/handle-json-data-using-json-and-pandas-in-python-9ff6bbd0d356
- https://opendata.dc.gov/
(Go to API explorer of the chosen dataset and select the Query URL)

- https://medium.com/@technige/what-does-requests-offer-over-urllib3-in-2022-e6a38d9273d9
- https://www.zenrows.com/blog/urllib3-vs-requests#feature-comparison

An example of getting JSON data from an Open Data site with Python into a Pandas Dataframe.

# **Step 0 - Import and Install Libraries**

In [9]:
#do this if needed.
!pip install certifi

Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (2024.7.4)

In [1]:
# urllib3 is a powerful, user-friendly HTTP client for Python
# to handle  data retrieval
import urllib3
from urllib3 import request

# to handle certificate verification
import certifi

# to manage json data
import json

# for pandas dataframes
import pandas as pd

# **Step 1 - Set Up Handler for Certificates and SSL Warnings**

In [2]:
# handle certificate verification and SSL warnings:
# reference https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl

http = urllib3.PoolManager(
    cert_reqs='CERT_REQUIRED',
    ca_certs=certifi.where())

# Creating a PoolManager instance for sending requests with outout any verification or warning handlings
#http = urllib3.PoolManager()

In [3]:
type(http)

urllib3.poolmanager.PoolManager

# **Step 2 - Get Data from Web API with Requests**

In [4]:
# get data from the API; replace url with target source
url = 'http://www.omdbapi.com/?i=tt3896198&apikey=65f6f8c5'

r = http.request('GET', url)
r.status

200

# **Step 3 - Decode JSON Data to a Dict**

In [5]:
type(r.data.decode('utf-8'))

str

In [6]:
# decode json data/string into a Python dict object
data = json.loads(r.data.decode('utf-8'))

type(data)

dict

In [7]:
data

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 60 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '768,933',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': '$389,813,101',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [14]:
pd.DataFrame(data)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"768,933",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"768,933",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"768,933",tt3896198,movie,N/A,"$389,813,101",N/A,N/A,True

In [18]:
# Create a DataFrame from the data
df = pd.DataFrame([data])
# Set pandas to display all columns
pd.set_option('display.max_columns', None)
# Print the DataFrame to see all columns
print(df)

                            Title  Year  Rated     Released  Runtime  \
0  Guardians of the Galaxy Vol. 2  2017  PG-13  05 May 2017  136 min

                       Genre    Director  \
0  Action, Adventure, Comedy  James Gunn

                                 Writer  \
0  James Gunn, Dan Abnett, Andy Lanning

                                    Actors  \
0  Chris Pratt, Zoe Saldana, Dave Bautista

                                                Plot Language        Country  \
0  The Guardians struggle to keep together as a t...  English  United States

                                              Awards  \
0  Nominated for 1 Oscar. 15 wins & 60 nomination...

                                              Poster  \
0  https://m.media-amazon.com/images/M/MV5BNjM0NT...

                                             Ratings Metascore imdbRating  \
0  [{'Source': 'Internet Movie Database', 'Value'...        67        7.6

  imdbVotes     imdbID   Type  DVD     BoxOffice Production Website Response
0   768,933  tt3896198  movie  N/A  $389,813,101        N/A     N/A     True

# **Step 4 - Normalize the data dict into a DataFrame**

In [16]:
# normalize the data dict and read it into a dataframe
# in this dataset, the data to extract is under 'Ratings'

df = pd.json_normalize(data, 'Ratings')

# print the first rows and header of the dataframe
df.head(10)

                    Source   Value
0  Internet Movie Database  7.6/10
1          Rotten Tomatoes     85%
2               Metacritic  67/100

In [12]:
df.shape

(3, 2)